<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="0b9dfb20-b0d9-4b76-a579-8896b37d8d5b"
            Publisher="CN=Sureshbabu"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>qman</DisplayName>
    <PublisherDisplayName>Sureshbabu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="qman.App">
        <VisualElements
            DisplayName="qman"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="qman"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>